:root {
    --midnight-blue: #0d1663;
    --gunmetal: #30394f;
    --lavender-blue: #ffffff;
    --rich-black-fogra-39: #000000;
    --cultured: #f5f5f5;

    --frosted-white : rgba(255, 255, 255, .15);
    --frosted-black : rgba(0, 0, 0, .15);
}

* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    /* TRBL */
    margin: 5vh 15vw 0 15vw;
}
    body.light-mode {
        --background-color : whitesmoke;
        --text-color : #0d1663;
    }
        body.light-mode > main {
            background-color: var(--frosted-black);
        }
    body.dark-mode {
        --background-color : var(--midnight-blue);
        --text-color : var(--cultured);
    }
        body.dark-mode > main {
            background-color: var(--frosted-white);
        }

main {
    border: solid;
    border-radius: 2em;
    padding: 2em;
    backdrop-filter: blur(5px);
}

section {
    margin: 0.5em 0 0.5em 0;
}
    section.bg-light {
        border-radius: .5em;
        padding: 2em;
        background-color: #ffffff17;
    }
footer {
    margin: 1em;
}
h1, h2, p, a, section {
    background-color: unset;
}
button, header > a {
    padding : .66em;
    border-radius: .5em;
    margin-bottom: .5em;
}