:root {
    --midnight-blue: #0d1663;
    --gunmetal: #30394f;
    --lavender-blue: #ffffff;
    --rich-black-fogra-39: #000000;
    --cultured: #f5f5f5;
    --my-text : #f5f5f5;

    --frosted-white : rgba(255, 255, 255, .15);
    --frosted-black : rgba(0, 0, 0, .15);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color : var(--midnight-blue);
        --my-text : var(--cultured);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color : var(--cultured);
        --my-text : var(--rich-black-fogra-39);
    }
}

* {
    font-family: 'Helvetica', 'Palatino', 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--my-text);
}
body {
    margin: 1em;
    padding: 1em;
}
a, h1, h3, p {
    text-decoration: none;
    margin: 0.5em;
}
h3 > a {
    margin: 0;
}

@media all and (orientation:portrait) {
    body {
        text-align: justify;
    }
    h1, h3 {
        text-align: center;
    }
    #links-text {
        text-align: center;
    }
    section > a {
        padding-bottom: 3em;
    }
}
@media all and (orientation:landscape) {
    * {
        font-family: 'Palatino', 'Courier New', Courier, monospace;
    }
    body {
        text-align: justify;
    }
    section {
        margin: 2em;
        padding: 1em;
    }
    section + a {
        margin-top: 2rem;
    }
}

/* 
    Here you are reading comments, in my CSS?
    Looking for Stack overflow bits?
    Well..... Sorry, but this is all home grown.
    Also I hate CSS. All the way.
*/